---
// Import section components
import MainLayout from '@/layouts/MainLayout.astro';
import { SITE } from '@data/constants';
import SwiperModal from './swiperModal.astro';
import Md from '../../components/ui/md.astro';
import { app } from '../../api';
import '@styles/product.css';
import { slugify } from '@/utils/utils';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const { data: resData } = await app.get();

  const data = await Promise.all(
    resData.data.map(async (d: { title: string; id: any }) => {
      const { data: pInfo } = await app.getById(d.id);
      return {
        params: { slug: slugify(d.title, d.id) },
        props: {
          product: {
            ...pInfo,
          },
        },
      };
    })
  );

  return data;
}

const { product } = Astro.props as any;

const pageTitle: string = `${product.title} | ${SITE.title}`;
---

<MainLayout title={pageTitle}>
  <div class="mb-20 mt-20 rounded-lg p-8">
    <div class="mx-auto max-w-5xl">
      <!-- Product Info Section -->
      <div class="mb-8 flex flex-col items-center sm:flex-row">
        <Image
          width={100}
          height={100}
          src={product.icon}
          alt="App Icon"
          class="h-28 w-28 rounded-lg ring-2 ring-gray-300 dark:text-white"
        />
        <div class="mt-4 flex w-full justify-between sm:ml-8 sm:mt-0">
          <div>
            <h1 class="text-4xl font-bold dark:text-white">
              {product.title}
            </h1>
            <h2 class="text-gray-700 dark:text-gray-300">
              By {product.author}
            </h2>
          </div>
          <div class="mt-4 flex h-[40px] space-x-3 sm:mt-0">
            <a href="/download" class="btn install-btn"> Install </a>
            <a href="/download" class="btn tryout-btn"> Try Out </a>
          </div>
        </div>
      </div>

      <!-- Product Screenshots -->
      <div class="mb-8">
        <h3 class="text-2xl font-semibold text-neutral-600 dark:text-white">
          Screenshots
        </h3>
        <div class="mt-4 grid grid-cols-2 gap-4 sm:grid-cols-3 lg:grid-cols-4">
          {
            product.screenshots &&
              product.screenshots.map((screenshot: any, index: number) => (
                <div class="screenshot w-full" data-index={index}>
                  <Image
                    width={100}
                    height={100}
                    src={screenshot}
                    alt={`Screenshot ${index + 1}`}
                    class="h-32 w-full rounded-lg object-cover"
                  />
                </div>
              ))
          }
        </div>
      </div>

      <!-- Product Description -->
      <h3 class="text-2xl font-semibold text-neutral-600 dark:text-white">
        About This App
      </h3>
      <div class="mb-8 rounded-lg text-neutral-600 dark:text-white">
        <div class="markdown-content mt-4">
          <Md content={product.description} />
        </div>
      </div>

      <!-- Product Information -->
      <div
        class="rounded-lg bg-neutral-300 p-6 text-neutral-600 dark:bg-[#171717] dark:text-white"
      >
        <h3 class="text-2xl font-semibold">App Information</h3>
        <div class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2">
          <div>
            <h4 class="font-bold">Version</h4>
            <p>{product.version}</p>
          </div>
          <div>
            <h4 class="font-bold">Last Updated</h4>
            <p>{new Date().toLocaleDateString()}</p>
          </div>
          <div>
            <h4 class="font-bold">Created At</h4>
            <p>{new Date().toLocaleDateString()}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <SwiperModal screenshots={product.screenshots} />
</MainLayout>
