---
// Import section components
import MainLayout from '@/layouts/MainLayout.astro';
import { SITE } from '@data/constants';
import SwiperModal from './swiperModal.astro';
import Md from '../../components/ui/md.astro';
import { app } from '../../api';

// src/layouts/BaseLayout.astro

export async function getStaticPaths() {
  const appsData = await app.get();

  const data = await Promise.all(
    appsData.data.map(async (d: { id: any }) => {
      const productDetail = await app.getById(d.id);
      const pInfo = await productDetail.json();
      return {
        params: { slug: d.id },
        props: {
          product: {
            ...pInfo.data,
          },
        },
      };
    })
  );

  return data;
}

const { product } = Astro.props as any;

const pageTitle: string = `${product.title} | ${SITE.title}`;
---

<MainLayout title={pageTitle}>
  <div
    class="mb-20 mt-20 p-8 shadow-[0px_7px_29px_0px_rgba(100,100,111,0.2)] dark:bg-[#171717]"
  >
    <div class="mx-auto max-w-5xl">
      <!-- Product Info Section -->
      <div class="mb-8 flex flex-col items-center sm:flex-row">
        <img
          src={product.icon}
          alt="App Icon"
          class="h-28 w-28 rounded-lg ring-2 ring-gray-300 dark:text-white"
        />
        <div class="mt-4 flex w-full justify-between sm:ml-8 sm:mt-0">
          <div>
            <h1 class="text-4xl font-bold dark:text-white">
              {product.title}
            </h1>
            <h2 class="text-gray-700 dark:text-gray-300">
              By {product.author}
            </h2>
          </div>
          <div class="mt-4 flex h-[40px] space-x-3 sm:mt-0">
            <button class="btn install-btn"> Install </button>
            <button class="btn tryout-btn"> Try Out </button>
          </div>
        </div>
      </div>

      <!-- Product Screenshots -->
      <div class="mb-8">
        <h3 class="text-2xl font-semibold text-neutral-600 dark:text-white">
          Screenshots
        </h3>
        <div class="mt-4 grid grid-cols-2 gap-4 sm:grid-cols-3 lg:grid-cols-4">
          {
            product.screenshots &&
              product.screenshots.map((screenshot: any, index: number) => (
                <div class="screenshot w-full" data-index={index}>
                  <img
                    src={screenshot}
                    alt={`Screenshot ${index + 1}`}
                    class="h-32 w-full rounded-lg object-cover"
                  />
                </div>
              ))
          }
        </div>
      </div>

      <!-- Product Description -->
      <h3
        class="text-2xl font-semibold text-neutral-600 dark:bg-[#171717] dark:text-white"
      >
        About This App
      </h3>
      <div class="mb-8 rounded-lg text-neutral-600 dark:text-white">
        <div class="markdown-content mt-4">
          <Md content={product.description} />
        </div>
      </div>

      <!-- Product Information -->
      <div
        class="rounded-lg bg-neutral-300 p-6 text-neutral-600 dark:bg-[#171717] dark:text-neutral-400"
      >
        <h3 class="text-2xl font-semibold">App Information</h3>
        <div class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2">
          <div>
            <h4 class="font-bold">Version</h4>
            <p>{product.version}</p>
          </div>
          <div>
            <h4 class="font-bold">Last Updated</h4>
            <p>{new Date().toLocaleDateString()}</p>
          </div>
          <div>
            <h4 class="font-bold">Created At</h4>
            <p>{new Date().toLocaleDateString()}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <SwiperModal screenshots={product.screenshots} />
</MainLayout>

<style>
  .btn {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .btn i {
    margin-right: 8px;
  }

  /* Install Button (Green) */
  .install-btn {
    background-color: #fa5a15;
    color: white;
  }

  .install-btn:hover {
    background-color: #d19f8a;
  }

  .install-icon::before {
    content: '\f019'; /* Icon (using Font Awesome or similar library) */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }

  /* Try Out Button (Blue) */
  .tryout-btn {
    background-color: #007bff;
    color: white;
  }

  .tryout-btn:hover {
    background-color: #0056b3;
  }

  .tryout-icon::before {
    content: '\f04b'; /* Icon */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }
</style>
