---
import MainLayout from '@/layouts/MainLayout.astro';
import { SITE } from '@data/constants';
import { app } from '../../api';

import '@styles/product.css';
import { slugify } from '@/utils/utils';
import Image from '../../cutomIntigration/image/code/Image.astro';

const pageTitle: string = `Products | ${SITE.title}`;
let results = [];
try {
  const response = await app.get();
  results = response.data || [];
} catch (error) {
  console.error('Failed to fetch products:', error);
}
---

<MainLayout
  title={pageTitle}
  structuredData={{
    '@context': 'https://schema.org',
    '@type': 'WebPage',
    '@id': 'https://crawlora.com/products',
    url: 'https://crawlora.com/products',
    name: 'Hardware Tools | Crawlora',
    description:
      'Explore the durability and precision of Crawlora tools, designed for both professionals and enthusiasts.',
    isPartOf: {
      '@type': 'WebSite',
      url: 'https://crawlora.com',
      name: 'Crawlora',
      description:
        'Crawlora offers top-tier hardware tools and expert construction services to meet all your project needs.',
    },
    inLanguage: 'en-US',
  }}
>
  <div
    class="my-20 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
  >
    {
      results.data.length > 0 ? (
        results.data.map((app: any) => {
          return (
            <Fragment>
              <div class="w-full cursor-pointer">
                <a href={`/apps/${slugify(app.title, app.id)}`} class="w-full">
                  <div class="hover:shadow-1xl relative overflow-hidden rounded-lg border shadow-xl dark:border-[#2c2c2c]">
                    <div class="relative">
                      <Image
                        name={slugify(
                          app.title + 'list-banner-icon',
                          app.id + '.png'
                        )}
                        url={app.banner}
                        alt={app.title || '-'}
                        class="h-40 w-full rounded-t-md object-cover"
                      />
                      <div class="absolute bottom-[-38px] left-[25px] w-[80px]">
                        <Image
                          url={app.icon}
                          name={slugify(
                            app.title + 'list-banner-icon',
                            app.id + '.png'
                          )}
                          alt="App Icon"
                          class="h-[80px] w-[80px] rounded-full object-cover"
                        />
                      </div>
                    </div>
                    <div class="flex min-h-[212px] flex-col justify-between p-4">
                      <div class="mt-10">
                        <h1 class="mt-4 truncate font-bold text-black dark:text-white">
                          {app.title}
                        </h1>
                        <h2 class="truncate text-gray-700 dark:text-gray-300">
                          {app.short_description}
                        </h2>
                        <h3 class="mt-2 font-light text-gray-600 dark:text-gray-400">
                          By {app.author}
                        </h3>
                      </div>
                      <div class="mt-4 flex items-center justify-end space-x-3">
                        <a href="/apply" class="btn install-btn">
                          Install
                        </a>
                        <a href="/apply" class="btn tryout-btn min-w-[90px]">
                          Try Out
                        </a>
                        <a
                          href={`/apps/${slugify(app.title, app.id)}`}
                          class="btn info-btn"
                        >
                          Info
                        </a>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </Fragment>
          );
        })
      ) : (
        <p>No products found.</p>
      )
    }
  </div>
</MainLayout>
