---
import { Image } from 'astro:assets';

const { name, role, imgSrc, altText, link } = Astro.props;
---

<div class="col-lg-3 col-md-6">
  <div class="team-box">
    <div class="flex flex-row-reverse justify-around">
      <div class="col-lg-9 col-10">
        <div class="team-image text-end">
          <Image src={imgSrc} alt={altText} class="img-fluid" />
        </div>
        <div class="team-icon">
          <div class="d-flex mt-2 justify-center">
            <!-- <div class="social-icon facebook mx-2">
              <a href="#"> <i class="mdi mdi-facebook f-20"></i></a>
            </div>
            <div class="social-icon instagram mx-2">
              <a href="#"><i class="mdi mdi-instagram f-20"></i></a>
            </div>
            <div class="social-icon twitter mx-2">
              <a href="#"><i class="mdi mdi-twitter f-20"></i></a>
            </div> -->
            <div class="social-icon linkedin mx-2">
              <a href={link}><i class="mdi mdi-linkedin f-20"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="roted-text flex items-start pt-[45px]">
        <h6 class="vertical-text">
          {name}
          <span class="f-14 text-muted fw-normal">/ {role}</span>
        </h6>
      </div>
    </div>
  </div>
</div>

<style>
  .vertical-text {
    writing-mode: vertical-rl;
  }
  .roted-text {
    transform: rotate(180deg);
  }
</style>
