---
import BrandLogo from '@components/BrandLogo.astro';
import navLinks from '@data/landingPageNav.json';
---

<nav
  class="navbar navbar-expand-lg fixed-top navbar-custom sticky-light sticky"
  id="navbar"
>
  <div class="container-fluid">
    <!-- LOGO -->
    <a class="navbar-brand logo text-uppercase" href={navLinks.logo.href}>
      <BrandLogo class="w-sm-34 h-auto w-44" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="mdi mdi-menu"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto" id="navbar-navlist">
        {
          navLinks.links.map((link) => (
            <li class="nav-item">
              <a class="nav-link" href={link.href}>
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
      <div class="ms-auto">
        <a href={navLinks.button.href} class={navLinks.button.class}
          >{navLinks.button.label}</a
        >
      </div>
    </div>
  </div>
</nav>
