---
// Importing necessary components
import BrandLogo from '@/components/BrandLogo.astro';
import Icon from '@/components/ui/icons/Icon.astro';
import enStrings from '@utils/navigation.ts';

// Links JSON for Ecosystem and Info sections
const strings = enStrings;
---

<section class="section footer bg-dark overflow-hidden">
  <div class="bg-arrow"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <a class="navbar-brand logo text-uppercase" href="/">
          <BrandLogo class="h-auto w-44" />
        </a>
        <p class="text-white-50 mb-0 mt-2">
          Transform Your Data Strategy with Crawlora: Automate, Analyze, and Act
          with Confidence.
        </p>
        <div class="footer-icon mt-4">
          <div class="d-flex align-items-center">
            {
              strings.FooterSocialLinks.map((link) => (
                <a
                  href={link.href}
                  class="avatar-sm mx-2 flex items-center justify-center text-center"
                >
                  <Icon name={link.icon} class="f-24 text-primary" />
                </a>
              ))
            }
          </div>
        </div>
      </div>
      {
        strings.FooterSection.map((section) => (
          <div class="col-lg-2 mt-lg-0 mt-4 text-start">
            <h5 class="fw-bold text-white">{section.title}</h5>
            <ul class="footer-item list-unstyled footer-link mt-3">
              {section.links.map((link) => (
                <li>
                  <a href={link.href}>{link.text}</a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
      <p class="text-white-50 mt-10">
        © <span id="current-year">2024</span> Crawlora: Find data at scale.
      </p>
    </div>
  </div>
</section>
